
<div>
  Lives: {{level.lives}}
</div>

<div>
  Score: {{level.score}}
</div>

<div>
  Interval: {{level.spawner.spawnIntervalBase}}
</div>

<div class="field"
  (contextmenu)="$event.preventDefault()"
>
  <div
    *ngFor="let link of level.links"
    class="link"
    [style.left]="link.x + 'px'"
    [style.top]="link.y + 'px'"
    [style.width]="(link.length + uiConfig.linkWidth / 2) + 'px'"
    [style.height]="uiConfig.linkWidth + 'px'"
    [style.transform]="'translate(0, -50%) rotate(' + link.radians + 'rad)'"
  ></div>

  <ng-container *ngFor="let node of level.nodes">
    <div
      *ngIf="node.switch != undefined || node.station != undefined"
      class="node"
      [class.station]="node.station != undefined"
      [class.switch]="node.switch != undefined"
      [style.left]="node.x + 'px'"
      [style.top]="node.y + 'px'"
      [style.background]="node.station == undefined ? '#666' : getStationColor(node.station)"
      (click)="onNodeClick($event, node)"
      (contextmenu)="onNodeContextMenu($event, node)"
    >
      <div style="text-align: center; padding-bottom: 3px;">
        <ng-container *ngIf="node.switch">
          {{dirDisplay[node.direction!]}}
        </ng-container>
      </div>
    </div>
  </ng-container>

  <div
    *ngFor="let char of level.chars"
    class="char"
    [style.left]="char.x + 'px'"
    [style.top]="char.y + 'px'"
    [style.background]="getCharColor(char.targetStation)"
  ></div>
</div>
