
.field {
  position: relative;
  width: 600px;
  height: 600px;
  background: #000;

  .node {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    &.station {
      width: 50px;
      height: 50px;
    }

    &.switch {
      width: 40px;
      height: 40px;

      color: white;
      font-weight: bold;
    }
  }

  .link {
    position: absolute;
    background: #aaa;
    transform-origin: center left;
  }
  
  .char {
    position: absolute;
    background: #f00;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 100px;

    text-align: center;
    cursor: pointer;
    pointer-events: none;
  }
}
